# Ambientes virtuais
venv/

# Arquivos Python compilados
__pycache__/
*.pyc

# Configs do VSCode
.vscode/

# Arquivos temporários
*.log
*.tmp
*.bak

# Mac/Windows
.DS_Store
Thumbs.db

# Arquivos de configuração do ambiente
.env
