body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f2f5;
  display: block;
  padding-top: 50px;
  min-height: 100vh;
  margin: 0 auto;
}

h1 {
  text-align: left;
  color: black;
  margin-top: 10px;
}

.info-modelo {
  font-size: 10px;
  color: #666;
  margin-top: -20px;
  margin-bottom: 20px;
}

label {
  font-weight: 500;
  margin-top: 15px;
  display: block;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-right: 6px;
}

.genre-label {
  display: flex;
  align-items: center;
  margin-top: 8px;
  font-size: 15px;
  font-weight: 500;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

.chat-container {
  display: flex;
  justify-self: center;
  width: 80%
}

.chat-box,
.response-box {
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 45%;
  font-size: 16px;
  line-height: 1.6;
  align-self: flex-start;
  margin: 40px;
  justify-self: center;
}

@media (max-width: 1100px) {
  .chat-container {
    flex-direction: column;
  }
  
  .chat-box, .response-box {
    width: 70%;
    align-self: center;
  }
}

.chat-container:has(.chat-box):not(:has(.response-box)) .chat-box,
.chat-container:has(.response-box):not(:has(.chat-box)) .response-box {
  width: 100%;
}

.resposta-formatada {
  font-size: 16px;
  line-height: 1.6;
}

.hidden {
    display: none;
}

.small-link {
    font-size: 0.9em;
    text-align: left;
    margin-bottom: 30px;
}

.small-link a {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.genre-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin-bottom: 1rem;
}
