<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Perfil do Usuário</title>
</head>
<body>
    
    <form method="POST">
        <h1>Gostaria de alterar algo?</h1>
        <label for="name">Seu nome:</label><br>
        <input type="text" id="name" name="name" value="{{ history.get('name', '') }}"><br><br>

        <p>Quais gêneros de livros você gosta?</p>
        <div class="genre-grid">
            {% for genre in genres %}
                <label>
                    <input type="checkbox" id="{{ genre }}" name="preferences" value="{{ genre }}"
                        {% if genre in history.get('preferences', []) %}checked{% endif %}>
                    {{ genre.title() }}
                </label>
            {% endfor %}
        </div>

        <br><button type="submit">Salvar preferências</button>
    </form>
</body>
</html>
