<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Bem-vindo!</title>
</head>
<body>
    
    <form method="POST">
        <h1>Vamos criar seu perfil?</h1>
        <label for="name">Seu nome:</label>
        <input type="text" id="name" name="name" required><br><br>

        <p>Quais gêneros de livros você gosta?</p>

        {% for genre in ['ficção', 'não-ficção', 'ciência', 'fantasia'] %}
            <label class="genre-label" for="{{ genre }}">
                <input type="checkbox" id="{{ genre }}" name="preferences" value="{{ genre }}">
                {{ genre.title() }}
            </label>
        {% endfor %}

        <br>
        <button type="submit">Começar</button>
    </form>

</body>
</html>
